@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
   <footer>
    <section class="footer_section">
        <img class="background-lines-write-right" src="images/background-effects/background-lines-white-right.svg" alt="no images">
            <div class="container">
                <div class="logo">
                    <img src="images/logos/logotype-white.svg" alt="no images">
                    <p>lakflakehflkehflakhefhlakhhflakhhlakdnelakehlgaknglaknglakg</p>
        
                </div>
        <div>
            <h5>Compani<h5>
                <ul>
                 <li><a href="#">About</a></li>
                 <li><a href="#">Features</a></li>
                 <li><a href="#">Works</a></li>
                 <li><a href="#">Career</a></li>
                </ul>       
        </div>
    

        <div>
            <h5>Help<h5>
                <ul>
                 <li><a href="#">Customer support</a></li>
                 <li><a href="#">Delivery Details</a></li>
                 <li><a href="#">Term & Condition</a></li>
                 <li><a href="#">Privacy Policy</a></li>
                </ul>       
        </div>
    

        <div>
            <h5>Resources<h5>
                <ul>
                 <li><a href="#">Free eBocks</a></li>
                 <li><a href="#">Development Tutorial</a></li>
                 <li><a href="#">How to - Blog</a></li>
                 <li><a href="#">Youtube Playlist</a></li>
                </ul>       
        </div>
        
        <div>
            <h5>Link<h5>
                 <ul>
                 <li><a href="#">Free eBocks</a></li>
                 <li><a href="#">Development Tutorial</a></li>
                 <li><a href="#">How to - Blog</a></li>
                 <li><a href="#">Youtube Playlist</a></li>    
                </ul>       
        </div>
    </div>

     
     
       <div>  
       <p> © 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
          <div class="social-media">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://google.com"><i class="fa-brands fa-google"></i></a>
            <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
       </div>
   </section>
    </footer>
