@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<selection class="nav-selection">
        <div class="container">   
            <a href="home.html">
            <img src="images/logos/logotype.svg" alt="no images"></a>
        <nav>
            <div class="first-row">
                <div class="company-info">
                <span><i class="fa-regular fa-phone-volume"></i>+46 (8) 121 470 50</span>
                 <span><i class="fa-regular fa-envelope"></i>info@crito.com</span>
                  <span><i class="fa-sharp fa-regular fa-location-dot"></i>Sveavägen 21, 111 34 Stockholm</span>
            </div>
                
          
        <div class="social-media">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://google.com"><i class="fa-brands fa-google"></i></a>
            <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
      </div>
           <div class="second-row">
                <div class="navbar">
                    <a class="active" href="home.html">Home</a>
                    <a class="active" href="service.html">Service</a>
                    <a class="active" href="news.html">News</a>
                    <a class="active" href="contact.html">Contact</a>
                </div>
            
                <a class="btn-theme" href="login.html">Login<i class="fa-solid fa-arrow-up-right></i></a>
                  
            </div>
            </nav>
        </div>
</selection>
