@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;0,1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
    
html, body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
/*
.wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
} 
    */
.btn-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #F90783;
    border: 1px solid #F90783;
    color: #191919;
    font-weight: 500;
    padding: 8px 22px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}
.btn-theme i {
    margin-left: 10px;
    font-size: 0.9em;
}
.btn-theme:hover {
        background-color: transparent;
        border: 1px solid #191919;
        color: #191919;
}
.btn-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    font-weight: 500;
    padding: 8px 22px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}
.btn-dark i {
    margin-left: 10px;
    font-size: 0.9em;
}
.btn-dark:hover {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
}

.btn-online-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    font-weight: 500;
    padding: 8px 22px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}
.btn-online-dark i {
    margin-left: 10px;
    font-size: 0.9em;
}
.btn-online-dark:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #FFFFFF;
}

.btn-white-play {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #191919;
    font-weight: 500;
    padding: 8px 22px;
    border-radius: 25px;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}
.btn-white-play i {
    margin-right: 10px;
    font-size: 2em;
}
.btn-white-play:hover {
    border: 1px solid #FFFFFF;
    color: #191919;
}

.btn-circle {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 50%;
    transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}
.btn-circle i {
    font-size: 1.4em;
}
.btn-circle:hover {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #191919;
}

.section-title {
    font-family: "Inter", sans-serif;
    color: #F9401C;
    font-size: 18px;
    font-weight: 500;
}

.background-lines {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.background-lines-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background-lines-white-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background-wavy-lines-right {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}

.background-rectangle {
    background-color: #F0EFE9;
    width: 1057px;
    height: 425px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.dot-circles {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot-circles dot.circle {
        width: 12px;
        height: 12px;
        background-color: rgba(25, 25, 25, 0.2);
        border-radius: 50%;
        margin: 3px 5px;
}
.dot-circles dot.circle.active {
        background-color: rgba(25, 25, 25);
}
        /* header */
header {
    color: #191919;
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
}

main {
    flex: 1;
}

.nav-section {
    padding: 10px 0px;
}
.nav-section .container {
        display: flex;
        align-items: center;
}
.nav-section .container .logotype {
    margin-right: 50px;
}
.nav-section .container nav {
    width: 100%;
}


/* flash sale */
.showcase {
    background-color: #F0EFE9;
    height: 250px;
    margin-top: 6rem;
   
}
    .showcase3 .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 100px;


    }
    .showcase3 .container .flash-sale1  {
        background-color: var(--color-theme);    
    } 

    .showcase3 .flash-sale1 .flash-sale {
        color: var(--color-white);
        font-family: var(--font-play);
        font-size: 1rem;
    }
    .showcase3 .flash-sale1 .flash-sale h1 {
        color: var(--color-white);
        font-family: var(--font-play);
        font-size: 1rem;
    }

    .showcase3 .flash-sale1 .flash-sale h1 strong {
        justify-content: center;
        font-weight: var(--font-weigt-bold);
        color: var(--color-white); 
        font-size: 2rem;  
           
             
    }
 
    .showcase3 .flash-sale h1 {
        margin: 1rem 0;
    }
  .showcase3 .container .timer {
        background-color: var(--color-theme-dark);
        color: var(--color-white);
        font-family: var(--font-play);
        margin-top: 2rem;
        
    }
   
    .special-offer1 .btn-theme {
        background-color: var(--color-theme);
        color: var(--color-white);
        border-radius: var(--border-radius-medium);
        font-weight: var(--font-weight-medium);
        margin-top:  1rem ;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
    
    .special-offer1 .btn-theme:hover {
        background-color: var(--color-theme-dark-light);
        color: var(--color-white); }
        

/* top-sellars */


.top-sellars .category-box {
        position: relative;
        background-color: var(--color-gray-1);
        border-radius: var(--border-radius-small);
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .top-sellars .category-box .category-box-title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0 var(--border-radius-small) 0 0;
        background-color: var(--color-theme-dark);
        color: var(--color-theme);
        padding: 0.5rem 1rem;
        font-weight: var(--font-weight-medium);
        height: 38px;
        transition: 0.2s ease-in-out;   
    }

    .top-sellars .category-box:hover .category-box-title {
        height: 75px;
    }

    .top-sellars .category-box .category-box-title span {
        display: block;
        color: var(--color-white);
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
  
.top-sellars .grid {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(4, minmax(100px, 169px));
    grid-template-rows: repeat(2, minmax(100px, 220px));
    margin-left: 18rem;

}

#category-box-11 {
        grid-column: 1 / 3;
        grid-row: 1 / -1;
    }
#category-box-22 {
        grid-column: 3 / -1;
        grid-row: 1 / 2;
    }
#category-box-33 {
        grid-column: 3 / -1;
        grid-row: 2 / -1
    }
   
    .top-sellars {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .top-sellars .card {
        position: relative;
        height: 420px;
        width: 350px;
        overflow: hidden;
    }
    
    .top-sellars .card .card-body {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 14%;
        color: var(--color-white);
        z-index: 1;
        transition: 0.3s ease-in-out;
        font-size: 1rem;
    }
    
    .top-sellars .card:hover .card-body {
        height: 40%;
    
    }
    .top-sellars .card .card-body h1 {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        transition: 0.3s ease-in-out;
        font-weight: var(--font-weight-regular);
    }
    
    .top-sellars .card:hover .card-body h1 {
        margin-bottom: 0;
        
    }
    .top-sellars .card .card-body button {
        background-color: transparent;
        color: var(--color-white);
        border-color: var(--color-white);
        font-size: 0.875rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        margin: 0.5rem 0;
    }
    
    .top-sellars .card .card-body .card-old-price {
            text-decoration: line-through;
            margin: 0mm;
    }
    
    .top-sellars .card .card-body .card-discount-price {
            color: var(--color-theme);
            font-weight: var(--font-weight-medium);
            font-size: 1.5rem;
            margin: 0;
    }
    .top-sellars .card .card-background {
        position: absolute;
        bottom: 0;
        height: 15%;
        width: 100%;
        background-color: var(--color-theme-dark);
        opacity: 0.90;
        transition: 0.3s ease-in-out;
    }
    .top-sellars .card:hover .card-background {
        height: 100%;
    }
    
    .top-sellars .card .card-menu {
        position: absolute;
        z-index: 1;
        top: 121%;
        right: 4%;
        list-style: none;
        margin: auto;
        padding: 0.8rem;
        font-size: 1.25rem;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-white);
        transition: 0.3s ease-in-out;
    }
    .top-sellars .card:hover .card-menu {
        top: 20px;
    }
    
    .top-sellars .card .card-menu li {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 1.0rem;
    }
    .top-sellars .card .card-menu li a {
        color: var(--color-gray-0);
    }
    .top-sellars .card .card-menu li a:hover {
        color: var(--color-theme);
    }

    
    .container .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #080C24;;
        color: white;
     }
     .container .footer p {
        margin-left: 10rem;
     }
     .showcase .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #080C24;;
        color: white;
     }
     .showcase .footer p {
        margin-left: 10rem;
     }
@media (min-width: 578px) {
    .top-menu .menu-links {
        display: block;
        }
    
     }

@media (min-width: 768px) {
  .showcase .container {
        text-align: center;
    } 
    .showcase .showcase-body h1 {
        font-size: var(--font-size-36);
    }

    }
    .showcase .showcase-body p {
       display: block; 
       text-align: center;
       margin-bottom: 2.4rem;
    }


@media (min-width: 992px)  {    
        .top-menu > .container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            }
      .top-menu .menu-links .links {
            display: inline;
        }

        .showcase .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0;
        }

            .showcase img {
                display: block;
                width: 50%;
            }
    }
@media (min-width: 1200px) {
    .showcase .showcase-body {
        flex: 1;
    }
    .showcase .showcase-body p {
        width: 80%;
    }
    .showcase img {
        flex: 1;
        width: 100%;
    }

}



 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            






















